{% extends 'base.html.twig' %}

{% block title %} {% trans %} Edit company info {% endtrans %} {% endblock %}

{% block body %}

    <header class="masthead bg-primary text-white text-left">
        <div class="container d-flex align-items-left flex-column">

            <h1>{% trans %} Edit company info {% endtrans %}</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-secondary mt-4 mb-4" type="submit" value="{% trans %} Save {% endtrans %}" />
            {{ form_end(form) }}

        </div>
    </header>

{% endblock %}
