{% extends 'base.html.twig' %}

{% block title %} {% trans %} Your web {% endtrans %} {% endblock %}

{% block body %}

    <header class="masthead text-left">
        <div class="container d-flex align-items-left flex-column">
            <h3> {% trans %} Where is your website published? {% endtrans %} </h3>
            <div class="row">

                <div class="col-md-10 col-lg-10">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input class="btn btn-primary mt-4 mb-4" type="submit" value="{% trans %} Send {% endtrans %}" />
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </header>

{% endblock %}
