{% extends 'base.html.twig' %}

{% block title %} {% trans %} Tus licencias {% endtrans %} {% endblock %}

{% block body %}

    <header class="masthead bg-primary text-white text-left">
        <div class="container d-flex align-items-left flex-column">
            <h1>Nahhh</h1>
            <p>Origin: Nahhh</p>

        </div>
    </header>

{% endblock %}
