# Política de Cookies

Actualizada a {{ "now"|date("d/m/Y") }}

## Información esencial
 - Datos del titular y medios de contacto

## Cómo configurar y deshabilitar las cookies

Puedes permitir, bloquear o eliminar las cookies instaladas en tu dispositivo desde tu navegador web.
Si no permites la instalación de cookies en tu dispositivo, puede que la experiencia de navegación empeore.
A continuación puedes encontrar cómo configurar las cookies en cada navegador:

 - [Edge](http://windows.microsoft.com/es-es/windows-10/edge-privacy-faq)
 - [Google Chrome](https://support.google.com/chrome/answer/95647?hl=es)
 - [Internet Explorer 11](http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-11)
 - [Mozilla Firefox](https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we)
 - [Opera](http://help.opera.com/Linux/10.60/es-ES/cookies.html)
 - [Safari](https://support.apple.com/kb/PH19214?viewlocale=es_ES&locale=es_ES)
 - [Safari Mobile](https://support.apple.com/es-es/HT201265)

### 1.- Tipos y usos

Una cookie es un fichero de texto que se envía al navegador web de tu ordenador, móvil o tablet
y que sirve para almacenar y recuperar información sobre la navegación realizada.
Por ejemplo, recordar tu nombre de usuario y contraseña o las preferencias de tu perfil.

### 2.- ¿Qué tipos de cookies hay?

Según quién las gestiona:

 - **Cookies propias**; se envían a tu navegador desde nuestros equipos o dominios web.

 - **Cookies de terceros**; se envían a tu navegador desde un equipo o dominio web que no gestionamos nosotros directamente, sino una tercera entidad como por ejemplo Google.

En función del tiempo que están activas, hay:

 - **Cookies de sesión**; permanecen en el archivo de cookies de tu navegador hasta que abandonas la página web, de modo que ninguna queda en tu dispositivo.

 - **Cookies persistentes**; permanecen en tu dispositivo y nuestra web las lee cada vez que realizas una nueva visita. Estas cookies dejan de funcionar pasada una fecha concreta.

Finalmente, y según su finalidad, tenemos:

 - **Cookies técnicas**; mejoran la navegación y el buen funcionamiento de la web.

 - **Cookies de personalización**; permiten acceder al servicio con unas características predefinidas en función de una serie de criterios.

 - **Cookies de análisis**; permiten medir y analizar estadísticamente el uso que se hace del servicio prestado.

Cookies usadas por [{{site}}]({{site}}):

| Nombre    | Origen   | Finalidad | Tipo     | Caducidad  |
|-----------|----------|-----------|----------|------------|
{% for cookie in cookies %}
| {{ cookie.name }} | {{ cookie.origin }} | {{ cookie.goal }} | {{ cookie.type }} | {{ cookie.expirationTime }} |
{% endfor %}
