<div class="row">
    <div class="col-sm-6">
        <h1>Política de Cookies</h1>
    </div>
    <div class="col-sm-6">
        <div class="progress mb-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ percent }}%;" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">
                {{ percent }}%
            </div>
        </div>
    </div>
</div>

<p>
    Actualizada a {{ "now"|date("d/m/Y") }}
</p>

<h2>Información esencial</h2>

<ul>
    <li>Datos del titular y contacto</li>
</ul>


<h2>Configurar y deshabilitar las cookies</h2>

<p>
    Puedes permitir, bloquear o eliminar las cookies instaladas
    en tu dispositivo desde tu navegador web.
    A continuación puedes encontrar cómo configurar las cookies
    en cada navegador:
</p>

<ul>
    <li><a href="http://windows.microsoft.com/es-es/windows-10/edge-privacy-faq" target="_blank">Edge</a></li>
    <li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Google Chrome</a></li>
    <li><a href="http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-11" target="_blank">Internet Explorer 11</a></li>
    <li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank">Mozilla Firefox</a></li>
    <li><a href="http://help.opera.com/Linux/10.60/es-ES/cookies.html" target="_blank">Opera</a></li>
    <li><a href="https://support.apple.com/kb/PH19214?viewlocale=es_ES&locale=es_ES" target="_blank">Safari</a></li>
    <li><a href="https://support.apple.com/es-es/HT201265" target="_blank">Safari Mobile</a></li>
</ul>

<h3>1.- Tipos y usos</h3>

<p>
    Una cookie es un fichero de texto que se envía al navegador web de tu ordenador, móvil o tablet
    y que sirve para almacenar y recuperar información sobre la navegación realizada.
    Por ejemplo, recordar tu nombre de usuario y contraseña o las preferencias de tu perfil.
</p>

<h3>2.- ¿Qué tipos de cookies hay?</h3>

<p>
    Según quién las gestiona:
</p>

<ul>
    <li><strong>Cookies propias</strong>; se envían a tu navegador desde nuestros equipos o dominios web.</li>
    <li><strong>Cookies de terceros</strong>; se envían a tu navegador desde un equipo o dominio web que no gestionamos nosotros directamente, sino una tercera entidad como por ejemplo Google.</li>
</ul>

<p>
    En función del tiempo que están activas, hay:
</p>

<ul>
    <li><strong>Cookies de sesión</strong>; permanecen en el archivo de cookies de tu navegador hasta que abandonas la página web, de modo que ninguna queda en tu dispositivo.
    <li><strong>Cookies persistentes</strong>; permanecen en tu dispositivo y nuestra web las lee cada vez que realizas una nueva visita. Estas cookies dejan de funcionar pasada una fecha concreta.
</ul>

<p>
    Finalmente, y según su finalidad, tenemos:
</p>

<ul>
    <li><strong>Cookies técnicas</strong>; mejoran la navegación y el buen funcionamiento de la web.
    <li><strong>Cookies de personalización</strong>; permiten acceder al servicio con unas características predefinidas en función de una serie de criterios.
    <li><strong>Cookies de análisis</strong>; permiten medir y analizar estadísticamente el uso que se hace del servicio prestado.
</ul>

<p>
    Cookies usadas por <a href="{{site}}" target="_blank">{{site}}</a>:
</p>

<table class="table table-dark table-bordered table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th>Nombre</th>
            <th>Origen</th>
            <th>Finalidad</th>
            <th>Tipo</th>
            <th>Caducidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for cookie in cookies %}
        <tr>
            <td>{{ cookie.name }}</td>
            <td>{{ cookie.origin }}</td>
            <td>{{ cookie.goal }}</td>
            <td>{{ cookie.type }}</td>
            <td>{{ cookie.expirationTime }}</td>
            {% if cookie.complete == false %}
                <td>
                    <a href="{{ url('cookie_edit', { id: cookie.id, callback: callback }) }}" class="btn btn-lg btn-warning" role="button">
                        Completar
                    </a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
