{% if value is empty %}
    <span class="string-to-complete"></span>
    <a href="{{ url }}" class="btn btn-lg btn-warning" role="button">
        Completar
    </a>
{% else %}
    {{ value }}
{% endif %}
