<div class="row">
    <div class="col-sm-6">
        <h1>Política de Privacidad</h1>
    </div>
    <div class="col-sm-6">
        <div class="progress mb-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ percent }}%;" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">
                {{ percent }}%
            </div>
        </div>
    </div>
</div>

<p>
    Actualizada a {{ "now"|date("d/m/Y") }}
</p>

<h2>Información básica</h2>

<ul>
    <li>
        <strong>Responsable de la web:</strong>
        {% include 'texts/field.html.twig' with {
            'value': analysis.companyName, 
            'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
        } %}
        con NIF:
        {% include 'texts/field.html.twig' with {
            'value': analysis.companyNif,
            'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
        } %}
        y domicilio en
        {% include 'texts/field.html.twig' with {
            'value': analysis.companyAddress,
            'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
        } %}
    </li>
    <li>
        <strong>¿Qué web?:</strong>
        {% include 'texts/field.html.twig' with {
            'value': analysis.companyWeb,
            'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
        } %}
    </li>
    <li>
        <strong>Email de contacto:</strong>
        {% include 'texts/field.html.twig' with {
            'value': analysis.companyEmail,
            'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
        } %}
    </li>
</ul>


<h2>Información extendida</h2>

<h3>1.- Descripción</h3>

<p>
    La aceptación de la política de privacidad de
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    (en adelante “Política de Privacidad”), es condición necesaria para
    el uso de nuestra web (en adelante “Servicio”).
</p>

<p>
    Esta Política de Privacidad regula la recopilación, tratamiento y uso
    de tu información personal y no personal como usuario del Servicio,
    a partir de la fecha de entrada en vigor que aparece en el encabezado.
</p>

<p>
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    no vende a terceros tu información personal y siempre
    te pedirá consentimiento antes de utilizar tus datos para cualquier fin
    distinto de los que se describen en esta Política de Privacidad.
</p>

<p>
    Para tratar tus datos personales,
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    cumple con la legislación vigente, local y europea, así como
    su normativa de desarrollo.
</p>

<p>
    Por ello adopta las medidas técnicas y organizativas necesarias para evitar
    la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos
    personales facilitados.
    Siempre de acuerdo al estado de la tecnología, la naturaleza de los datos
    y los riesgos a los que están expuestos.
</p>

<h3>2.- Finalidad</h3>

<h4> ¿Con qué finalidad tratamos tus datos personales?  </h4>

<p>
    En 
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    tratamos la infornación que nos facilitan las personas interesadas
    en nuestrso servicios con la finalidad de proporcionarles un adecuado
    servicio y para poder gestionar la información que nos proporcionan
    cuando quieren suscribirse a nuestro blog.
</p>

<h4> ¿Por cuánto tiempo conservamos tus datos personales? </h4>

<p>
    Los datos personales que nos proporciones los conservamos durante todo el tiempo
    que dure la relación comercial y durante los plazos que la legislación nos obliga
    a conservarlos, por ejemplo a efectos fiscales tenemos la obligación de
    conservarlos durante 4 años.
</p>

<p>
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    usará los datos recopilados para:
</p>

<ul>
    <li>Administrar, proporcionar y actualizar el Servicio.</li>
    <li>Atender las cuestiones que plantees.</li>
    <li>Procesar los pagos que realices.</li>
    <li>
        Enviarte mediante correo electrónico, si lo has autorizado o según
        lo previsto en la normativa aplicable, nuestro boletín informativo
        y/u ofertas de nuestros socios comerciales.
    </li>
</ul>

<p>
    Podrás darte de baja de los mismos desde el propio correo electrónico
    recibido, desde tu cuenta de usuario o contactando con nosotros en
    <a href="mailto:{{ analysis.companyArcoMail }}">
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyArcoMail,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    </a>.
    No obstante, no podrás darte de baja de determinada correspondencia
    nuestra, como los mensajes relativos a la seguridad de tus datos o
    los términos y condiciones del Servicio.
</p>

<ul>
    <li>
        Planificar y desarrollar las actividades comerciales del Servicio,
        como por ejemplo publicidad, directamente o mediante terceros colaboradores.
    </li>
    <li>
        Mantener la seguridad del Servicio, investigar actividades ilícitas,
        hacer cumplir nuestros términos y condiciones y ayudar a los cuerpos y
        fuerzas de seguridad del estado en el marco de sus eventuales
        investigaciones.
    </li>
</ul>

<p>
    Asimismo,
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    podrá utilizar la información personal y no personal de los usuarios
    en forma de datos agregados y anónimos para mostrarlos a terceros.
    También podrá compartir estadísticas y la información demográfica sobre los
    usuarios y su utilización del Servicio con terceros.
    Nada de esto permitirá a esos terceros identificarte personalmente.
</p>

<h3>3.- Legitimación</h3>

<h4> ¿Cual es la legitimación para el tratamiento de tus datos? </h4>

<p>
    La base legal para el tratamiento de tus datos es la ejecución del
    contrato de arrendamiento de servicios.
    Con esto nos estamos refiriendo a que para que tú puedas utilizar los
    servicios que
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    te ofrece, necesitamos que nos proporciones ciertos datos.
    En caso de que no nos proporciones estos datos no podremos celebrar
    contigo el contrato.
</p>

<p>
    Por otro lado, si quieres suscribirte a nuestra newsletter o dejar
    algún comentario en nuestro blog también necesitamos tus datos,
    en este caso, la legitimación para tratar tus datos se base en
    tu consentimiento puesto que eres tú quien voluntariamiente
    quiere suscribirse a nuestra newsletter o/y dejar algún
    comentario en nuestro blog.
</p>

<h3>4.- Destinatarios</h3>

<p>
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    sólo comparte la información que nos proporcionas con Google
    Analytics para acciones de marketing.
    También compartiremos la información a que estemos obligados por
    ley cuando se nos requiera para ello y con terceros que prestan o
    gestionan parte del Servicio.
</p>

<p>
    Hay terceros que gestionan parte del Servicio, y a ellos
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    les exige que cumplan esta Política de Privacidad en lo que les resulte
    aplicable, además de tener la suya propia.
    No obstante,
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    no será responsable del cumplimiento de dicha política, ajena a esta
    plataforma.
</p>

<p>
    Bajo algunas circunstancias,
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    podrá compartir, usar o preservar con terceros alguna de la información
    personal recopilada:
</p>

<ul>
    <li>Para prestar el Servicio:</li>
</ul>

<ol>
    <li>
        Los proveedores de servicios que prestan funciones en nuestro nombre,
        como por ejemplo el procesamiento de tarjetas de crédito, alojamiento
        web, analítica comercial, servicio de atención cliente o marketing.
        Estos proveedores de servicios pueden recopilar y tener acceso a
        la información que les sea necesaria para desempeñar sus funciones,
        pero no tienen permitido compartir o utilizar la información para
        ningún otro propósito.
    </li>
</ol>

<ul>
    <li>Para cooperar con las autoridades competentes:</li>
</ul>

<ol>
    <li>
        Si creemos que es razonablemente necesario para satisfacer cualquier
        ley, proceso legal o interés legítimo en cualquier parte del mundo.
        En cualquier caso, sólo proporcionaremos la información estrictamente
        requerida.
    </li>
    <li>
        Si creemos que esta acción es apropiada para hacer cumplir con los
        términos y condiciones de
        {% include 'texts/field.html.twig' with {
            'value': analysis.companyName,
            'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
        } %}
        .
    </li>
    <li>
        Si es necesario para detectar o prevenir el fraude o cuestiones
        relacionadas con la seguridad de
        {% include 'texts/field.html.twig' with {
            'value': analysis.companyName,
            'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
        } %}
        , sus proveedores y usuarios.
    </li>
</ol>

<h3>5.- Derechos</h3>

<p>
    <strong>Derecho de Acceso:</strong> tienes derecho a obtener de
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    la confirmación de si estamos o no tratando datos personales que
    te conciernan y en ese caso tienes derecho a que te demos acceso a
    esos datos y a la siguiente información: para qué los utilizamos,
    qué tipos de datos estamos tratando, si se los proporcionamos
    a terceras empresas, por cuánto tiempo los conservamos y en caso de que
    tú no nos hayas proporcionado tus datos de dónde los hemos obtenido.
</p>

<p>
    <strong>Derecho de Rectificación:</strong> tienes derecho a obtener de
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    sin un restraso injustificado la rectificación de los datos personales
    inexactos que te afecten y en su caso tienes derecho a que se completen
    los datos personales que sean incompletos.
</p>

<p>
    <strong>Derecho de Supresión o Derecho al olvido:</strong> tienes
    derecho a obtener de
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    la supresión de tus datos personales sin un retraso injustificado cuando
    concurra alguna de las siguientes circunstancias:
</p>

<ul>
    <li>Ya no es necesario que sigamos tratando tus datos.</li>
    <li>Has retirado tu consentimiento para que tratemos tus datos personales.</li>
    <li>No estamos autorizados a tratar tus datos.</li>
    <li>Tenemos que suprimir tus datos en cumplimiento de una obligación legal.</li>
</ul>

<p>
    <strong>Derecho a la limitación del tratamiento:</strong> tienes
    derecho a obtener de
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    la limitación del tratamiento de tus datos personales si se cumplen alguna
    de las siguientes condiciones:
</p>

<ul>
    <li>
        Si entiendes que tus datos son inexactos, en este caso disponemos de un (1) mes,
        a contar desde que recbimos tu reclamación, para acreditar esta circunstancia.
    </li>
    <li>
        No estemos legitimados para tratar tus datos y prefieras ejercer este derecho
        al de supresión.
    </li>
    <li>
        No necesitemos tratar tus datos para la finalidad para la que los obtuvimos,
        pero tu los necesites para formular reclamaciones.
    </li>
    <li>
        Si te has opuesto al tratamiento de tus datos.
    </li>
</ul>

<p>
    <strong>Derecho a la portabilidad de los datos:</strong> tienes derecho a
    obtener de
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    los datos personales que nos hayas proporcionado en formato estructurado,
    de uso común y lectura mecánica y a transmitirlos a otro responsible del
    tratamiento.
</p>

<p>
    <strong>Derecho de oposición:</strong> tienes derecho a oponerte en
    cualquier momento por motivos relacionados con tu situación personal a
    que tratemos tus datos personales, salvo por motivos legítimos imperiosos,
    o el ejercicio o la defensa de posibles reclamaciones.
</p>

<p>
    Los datos personales que nos facilites quedan incorporados y serán
    tratados en los ficheros titularidad de
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    , con el fin de poder atender tus peticiones, prestar el servicio
    solicitado y mantenerte informado sobre cuestiones relativas a la
    actividad de la empresa y sus servicios.
</p>

<p>
    Puedes ejercer en cualquier momento los derechos de acceso,
    rectificación, cancelación, portabilidad, limitación y oposición de
    tus datos de carácter personal mediante correo electrónico dirigido
    a: <a href="mailto:{{ analysis.companyArcoMail }}">
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyArcoMail,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    </a>
</p>

<p>
    Deberás identificarte con tu nombre y apellidos, además de una copia
    de tu DNI o ID nacional.
</p>

<p>
    <a href="https://www.aepd.es/reglamento/derechos/index.html" target="_blank">Aquí</a>
    puedes encontrar los diferentes modelos para ejercer tales derechos.
</p>

<p>
    En caso de que consideres que
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    no ha respetado alguno de tus derechos puedes presentar una reclamación ante la
    <a href="https://www.aepd.es/reglamento/derechos/index.html" target="_blank">Agencia Española de Protección de Datos</a>.
</p>

<p>
    <strong>
        {% include 'texts/field.html.twig' with {
            'value': analysis.companyName,
            'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
        } %}
         se compromete a respetar la confidencialidad de
        los datos recogidos en el fichero, utilizarlos de acuerdo con la
        finalidad del mismo, dar cumplimiento a su obligación de custodia y
        adoptar todas las medidas requeridas para evitar la alteración,
        pérdida, tratamiento o acceso no autorizado de los datos, de
        acuerdo a la normativa aplicable.
    </strong>
</p>


<h3>6.- Procedencia</h3>

<p>
    El Servicio puede usarse sin crear cuenta de usuario, como
    “Usuario no registrado” y como “Usuario Registrado”.
    Si quieres remitirnos una consulta o tramitar online tu reclamación
    a través de nuestro servicio tienes que estar registrado.
</p>

<p>
    La información (personal o no personal) recopilada por el
    Servicio variará en función de eso.
</p>

<p>
    La información personal y no personal recopilada por el Servicio
    nos llegará por dos vías: 1) la recopilada automáticamente y 2)
    la que nos proporciones voluntariamente.
</p>

<p>
    6.1.- La recopilada automáticamente consistirá en:
</p>

<ul>
    <li>
        La recopilada mediante cookies o mecanismos similares almacenados
        en tu dispositivo, siempre con tu consentimiento.
        Consulta nuestra Política de Cookies para más información.
    </li>
    <li>
        La IP desde la que se realiza la conexión, el tipo de dispositivo
        usado y sus características, la versión del sistema operativo,
        el tipo de navegador, el idioma, la fecha, el país, la hora de
        la solicitud, la URL de referencia o la red móvil empleada (entre otros).
    </li>
    <li>
        Datos de uso del Servicio y posibles errores detectados durante
        su utilización.
    </li>
    <li>
        Datos sobre tu ubicación física mediante diferentes tecnologías:
        las señales de GPS enviadas por un dispositivo móvil o la información
        sobre puntos de acceso Wi-Fi o antenas de telefonía móvil más cercanas.
        En cualquier caso, estos datos se recopilan siempre de acuerdo a la
        configuración de privacidad de tu dispositivo.
    </li>
</ul>

<p>
    6.2.- La que proporcionas voluntariamente consistirá en:
</p>

<ul>
    <li>
        La requerida por
        {% include 'texts/field.html.twig' with {
            'value': analysis.companyName,
            'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
        } %}
        en la creación de un perfil de usuario, debiendo indicar como
        mínimo la información marcada con un asterisco sobre determinados
        campos: nombre y apellidos, correo electrónico y contraseña.
        En relación a la contraseña, el Usuario será responsable de su protección.
        En ese sentido, asumirá cualquier daño y perjuicio que pudiera
        derivarse de su uso indebido o de la cesión de la misma a terceras personas.
    </li>
    <li>
        La información, personal o no, que pudieran contener los mensajes
        enviados a través de los canales de contacto u opinión establecidos en el
        Servicio, por ejemplo tu nombre, alias o correo electrónico.
    </li>
    <li>
        El correo electrónico que proporciones para inscribirte en el boletín de
        noticias. Si usas el correo electrónico de un tercero, reconoces
        disponer de su consentimiento para ello.
    </li>
</ul>

<p>
    Te informamos que la cumplimentación de los formularios tiene carácter voluntario.
    Ahora bien, si no rellenas los campos obligatorios (marcados con un asterisco)
    el uso del Servicio no será posible o se verá limitado.
</p>


<h3>7.- Edad</h3>

<p>
    En cuanto a la formulación de consultas y tramitación de reclamaciones,
    declaras que eres mayor de edad y que dispones de la capacidad legal
    necesaria para vincularte por este acuerdo y utilizar el sitio de conformidad
    con sus términos y condiciones, que comprendes y reconoces en su totalidad.
</p>

<p>
    Declaras que toda la información que proporciones para acceder al Servicio,
    antes y durante su utilización, es verdadera, completa y precisa.
</p>


<h3>8.- Eliminar cuenta</h3>

<p>
    Puedes eliminar tu cuenta solicitando su eliminación en
    <a href="mailto:{{ analysis.companyArcoMail }}">
        {% include 'texts/field.html.twig' with {
            'value': analysis.companyArcoMail,
            'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
        } %}
    </a>.
</p>

<p>
    Si decides eliminar tu cuenta, todos tus datos serán eliminados,
    incluidas copias de seguridad, en un plazo máximo de 90 días.
</p>


<h3>9.- Medidas de seguridad</h3>

<p>
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    adopta todas las medidas técnicas y organizativas necesarias para
    proteger la seguridad e integridad de la información personal y
    no personal recopilada.
    Tanto frente a accesos no autorizados como su alteración,
    pérdida o destrucción accidentales.
</p>

<p>
    El envío y la remisión de datos que realices a través del Servicio,
    se encuentra protegido por técnicas de seguridad electrónica en la
    red como el protocolo SSL.
    Asimismo, la información suministrada y almacenada en las bases de
    datos de
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    se encuentra igualmente protegida por sistemas de seguridad que
    impiden el acceso a los mismos por terceros no autorizados.
</p>

<p>
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    realiza sus mejores esfuerzos para disponer de
    los sistemas más actualizados para la eficacia de estos mecanismos
    de seguridad.
    Además,
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    almacena la información personal y no personal durante tanto tiempo
    como permita y exija la normativa.
    La que no se necesita se destruye periódicamente.
</p>

<p>
    A pesar de lo anterior,
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    no puede garantizar la seguridad absoluta de la información recopilada,
    por lo que debes colaborar y utilizar en todo momento el sentido común
    sobre la información compartida.
    Especialmente la de carácter personal, en espacios públicos, por
    ejemplo al hacer una reseña sobre un producto.
</p>

<p>
    En esos casos, debes ser consciente que publicas los datos bajo tu
    propia responsabilidad.
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyName,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    no puede garantizar que la información publicada no será vista por
    personas no autorizadas.
    Entiendes y reconoces que, incluso después de su eliminación, la
    información personal y no personal puede permanecer visible en caché
    o si otros usuarios la han copiado o almacenado.
</p>

<h3>10.- Cambios en la Política de Privacidad</h3>

<p>
    Podremos actualizar esta Política de Privacidad en el futuro.
</p>

<p>
    Te informaremos sobre sus cambios enviando un aviso a la dirección
    de correo electrónico facilitada y/o colocando un aviso en un lugar
    prominente de nuestra web, pero quizá sería recomendable que pasaras
    de vez en cuando por la web para asegurarte de como están las condiciones.
</p>

<h3>11.- Contacto</h3>

<p>
    Si tienes dudas sobre esta Política de Privacidad, contacta con nosotros en:
</p>

<p>
    E-mail:
    <a href="mailto:{{ analysis.companyEmail }}">
    {% include 'texts/field.html.twig' with {
        'value': analysis.companyEmail,
        'url':   url('company_edit', { hash: analysis.hash, callback: url('web_analysis', { hash: analysis.hash, _fragment: 'privacy' })}) 
    } %}
    </a>
</p>
