<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Legalizer - {% block title %} {% trans %} Un tío legal {% endtrans %} {% endblock %}</title>

        <link href="{{ asset('css/vendor/fontawesome/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <link href="{{ asset('css/base.css') }}" rel="stylesheet">

    </head>

    <body id="page-top">

        {% block header %}
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ url('homepage') }}">Legalizer</a>
                {% block menu %} {% endblock %}
            </div>
        </nav>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
            <footer class="footer text-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4"> {% trans %} En casa de herrero... {% endtrans %} </h4>
                            <p class="lead mb-0">
                                <a class="" href="#">
                                    {% trans %} Aviso legal {% endtrans %}
                                </a> <br>
                                <a class="" href="#">
                                    {% trans %} Política de cookies {% endtrans %}
                                </a> <br>
                                <a class="" href="#">
                                    {% trans %} Política de privacidad {% endtrans %}
                                </a> <br>
                            </p>
                        </div>

                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4"> {% trans %} En las redes {% endtrans %} </h4>
                            <a class="btn btn-outline-light btn-social mx-1" href="#">
                                <i class="fab fa-fw fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-outline-light btn-social mx-1" href="#">
                                <i class="fab fa-fw fa-twitter"></i>
                            </a>
                            <a class="btn btn-outline-light btn-social mx-1" href="#">
                                <i class="fab fa-fw fa-linkedin-in"></i>
                            </a>
                            <a class="btn btn-outline-light btn-social mx-1" href="#">
                                <i class="fab fa-fw fa-dribbble"></i>
                            </a>
                        </div>

                        <div class="col-lg-4">
                            <h4 class="text-uppercase mb-4"> {% trans %} Un producto de {% endtrans %} </h4>
                            <a href="https://nolegaltech.com" target="_blank">
                                <img height="200px" src="{{ asset('images/nlt.png') }}" />
                            </a>
                        </div>

                    </div>
                </div>
            </footer>

            <div class="scroll-to-top d-lg-none position-fixed ">
                <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        {% endblock %}

        {% block modals %}
        {% endblock %}

        <script src="{{ asset('js/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('js/vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

        <script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>
        <script src="{{ asset('js/base.js') }}"></script>

        {% block scripts %}
        {% endblock %}

    </body>

</html>
