{% extends 'base.html.twig' %}

{% block title %} {% trans %} ERROR {% endtrans %} {% endblock %}

{% block header %}
<nav class="navbar navbar-expand-lg bg-danger-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ url('homepage') }}">Legalizer</a>
        {% block menu %}
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-danger text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                {% trans %} Menu {% endtrans %}
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio"> {% trans %} Error {% endtrans %} </a>
                    </li>
                </ul>
            </div>
        {% endblock %}
    </div>
</nav>
{% endblock %}

{% block body %}

    <header class="masthead bg-primary text-white text-left">
        <div class="container d-flex align-items-left flex-column">
            <h1>Nahhh</h1>
            <p>Origin: Nahhh</p>

        </div>
    </header>

{% endblock %}

{% block footer %}
    <footer class="footer text-center bg-danger-secondary">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4"> {% trans %} En casa de herrero... {% endtrans %} </h4>
                    <p class="lead mb-0">
                        <a class="text-danger" href="#">
                            {% trans %} Aviso legal {% endtrans %}
                        </a> <br>
                        <a class="text-danger" href="#">
                            {% trans %} Política de cookies {% endtrans %}
                        </a> <br>
                        <a class="text-danger" href="#">
                            {% trans %} Política de privacidad {% endtrans %}
                        </a> <br>
                    </p>
                </div>

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4"> {% trans %} En las redes {% endtrans %} </h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-dribbble"></i>
                    </a>
                </div>

                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4"> {% trans %} Un producto de {% endtrans %} </h4>
                    <a href="https://nolegaltech.com" target="_blank">
                        <img height="200px" src="{{ asset('images/nlt.png') }}" />
                    </a>
                </div>

            </div>
        </div>
    </footer>

    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
{% endblock %}
