{% extends 'base.html.twig' %}

{% block title %} {% trans %} Home {% endtrans %} {% endblock %}

{% block menu %}
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        {% trans %} Menu {% endtrans %}
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio"> {% trans %} Start {% endtrans %} </a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about"> {% trans %} About {% endtrans %} </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}

    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <img class="masthead-avatar mb-5" src="{{ asset('images/rabbit.png') }}" alt="">

            <h1 class="masthead-heading text-uppercase mb-0">Legalizer</h1>

            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <p class="masthead-subheading font-weight-light mb-0"> {% trans %} Web legal texts - Contracts - Software licenses {% endtrans %} </p>

        </div>
    </header>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">

            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"> {% trans %} Start {% endtrans %} </h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('images/services/legal-texts-web.png') }}" alt="">
                    </div>
                    <h3> {% trans %} Web legal texts {% endtrans %} </h3>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('images/services/contracts.png') }}" alt="">
                    </div>
                    <h3> {% trans %} Contracts {% endtrans %} </h3>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('images/services/licenses.png') }}" alt="">
                    </div>
                    <h3> {% trans %} Software licenses {% endtrans %} </h3>
                </div>

            </div>

        </div>
    </section>

    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">

            <h2 class="page-section-heading text-center text-uppercase text-white"> {% trans %} About {% endtrans %} </h2>

            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">
                        {% trans %} Legalizer is a superhero with no cape who will help you with your legal issues. {% endtrans %}
                    </p>
                    <p class="lead">
                        {% trans %} Automated generation of legal texts for your web, contracts, licenses ... and much more! {% endtrans %}
                    </p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">
                        {% trans %}
                            Legalizer ha sido desarrollado y es mantenido con mucho amor por el equipo de rabbits
                            de <a href="https://nolegaltech.com" target="_blank">NoLegalTech</a>
                        {% endtrans %}
                    </p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block modals %}

    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <div class="modal-body text-justify">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h2 class="portfolio-modal-title text-secondary text-center text-uppercase mb-0"> {% trans %} Web legal texts {% endtrans %} </h2>
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <img class="img-fluid rounded mb-5" src="{{ asset('images/services/legal-texts-web.png') }}" alt="">
                                <p class="mb-5">
                                    {% trans %}
                                        ¿Tienes una web sin textos legales? ¿No tienes idea de si tus textos legales son correctos?
                                        ¿O simplemente no quieres invertir tu tiempo y esfuerzo en redactarlos y mantenerlos?
                                    {% endtrans %}
                                </p>
                                <p>
                                    {% trans %} No te preocupes. <strong>Legalizer</strong> lo puede hacer por ti!  {% endtrans %}
                                </p>
                                <p>
                                    {% trans %}
                                        <strong>Legalizer</strong> genera automáticamente los textos legales que necesitas para tu web:
                                        <ul>
                                            <li>Términos y condiciones</li>
                                            <li>Política de cookies</li>
                                            <li>Política de privacidad</li>
                                            <li>Información de primera capa para formularios</li>
                                        </ul>
                                    {% endtrans %}
                                </p>
                                <p>
                                    {% trans %}
                                        Todo ello en un formato listo para incrustar en tu web (HTML, texto plano o Markdown,
                                        según prefieras).
                                    {% endtrans %}
                                </p>
                                <p>
                                    {% trans %}
                                        <strong>Legalizer</strong> detecta automáticamente las cookies que tu web instala y
                                        es capaz de detectar cuando son modificadas, avisándote enviándote automáticamente
                                        las versiones corregidas de tus textos.
                                    {% endtrans %}
                                </p>
                                <p>
                                    {% trans %}
                                        <strong>Legalizer</strong> detecta automáticamente todos los formularios de tu web
                                        que recogen datos de usuarios y te proporciona un código que puedes incrustar en tu
                                        web para automáticamente ofrecer la información de primera capa necesaria en cada formulario.
                                    {% endtrans %}
                                </p>
                                <p>
                                    {% trans %} Y mucho más. ¿A qué esperas? Pruébalo ya!  {% endtrans %}
                                </p>
                            </div>
                            <div class="col-lg-8 text-center pt-4">
                                <a class="btn btn-primary" href="{{ path('legalize_web') }}">
                                    {% trans %} Start {% endtrans %}
                                    <i class="fas fa-play-circle ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <div class="modal-body text-justify">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h2 class="portfolio-modal-title text-secondary text-center text-uppercase mb-0"> {% trans %} Contracts {% endtrans %} </h2>
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <img class="img-fluid rounded mb-5" src="{{ asset('images/services/contracts.png') }}" alt="">
                                <p class="mb-5">
                                    {% trans %}
                                        ¿Tienes que hacer un contrato de desarrollo? ¿No sabes a qué atenerte o qué debes incluir?
                                        ¿O simplemente no quieres invertir tu tiempo y esfuerzo en redactarlos y mantenerlos?
                                    {% endtrans %}
                                </p>
                                <p>
                                    {% trans %} No te preocupes. <strong>Legalizer</strong> lo puede hacer por ti!  {% endtrans %}
                                </p>
                                <p>
                                    {% trans %} <strong>Legalizer</strong> genera automáticamente ...  {% endtrans %}
                                </p>
                                <p>
                                    {% trans %} Todo ello en un formato ...  {% endtrans %}
                                </p>
                                <p>
                                    {% trans %} Y mucho más. ¿A qué esperas? Pruébalo ya!  {% endtrans %}
                                </p>
                            </div>
                            <div class="col-lg-8 text-center pt-4">
                                <a class="btn btn-primary" href="{{ path('legalize_contract') }}">
                                    {% trans %} Start {% endtrans %}
                                    <i class="fas fa-play-circle ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <div class="modal-body text-justify">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <h2 class="portfolio-modal-title text-secondary text-center text-uppercase mb-0"> {% trans %} Licencias software {% endtrans %} </h2>
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <img class="img-fluid rounded mb-5" src="{{ asset('images/services/licenses.png') }}" alt="">
                                <p class="mb-5">
                                    {% trans %}
                                        ¿Desarrollas software? ¿Sabes si las licencias de todas las librerías que utilizas son
                                        compatibles?
                                        ¿No quieres gastar tiempo en estudiar qué opciones tienes para licenciar tu software
                                        y cómo hacerlo?
                                    {% endtrans %}
                                </p>
                                <p>
                                    {% trans %} No te preocupes. <strong>Legalizer</strong> lo puede hacer por ti!  {% endtrans %}
                                </p>
                                <p>
                                    {% trans %} <strong>Legalizer</strong> genera automáticamente ...  {% endtrans %}
                                </p>
                                <p>
                                    {% trans %} <strong>Legalizer</strong> detecta automáticamente ...  {% endtrans %}
                                </p>
                                <p>
                                    {% trans %} Y mucho más. ¿A qué esperas? Pruébalo ya!  {% endtrans %}
                                </p>
                            </div>
                            <div class="col-lg-8 text-center pt-4">
                                <a class="btn btn-primary" href="{{ path('legalize_license') }}">
                                    {% trans %} Start {% endtrans %}
                                    <i class="fas fa-play-circle ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
