{% extends 'base.html.twig' %}

{% block title %} {% trans %} Cookie {% endtrans %} {% endblock %}

{% block body %}

    <header class="masthead bg-primary text-white text-left">
        <div class="container d-flex align-items-left flex-column">

            <h1>{{ cookie.name }}</h1>
            <p> {% trans %} Origin {% endtrans %} : {{ cookie.origin }}</p>
            <p> {% trans %} Published {% endtrans %} : {{ cookie.published | date() }}</p>
            <p> {% trans %} Type {% endtrans %} : {{ cookie.type }}</p>
            <p> {% trans %} Expiration {% endtrans %} : {{ cookie.expiration }}</p>
            <p> {% trans %} Path {% endtrans %} : {{ cookie.path }}</p>
            <p> {% trans %} HttpOnly {% endtrans %} : {{ cookie.httpOnly }}</p>
            <p> {% trans %} ThirdParty {% endtrans %} : {{ cookie.thirdParty }}</p>
            <p> {% trans %} Secure {% endtrans %} : {{ cookie.secure }}</p>
            <p> {% trans %} UsageUrl {% endtrans %} : {{ cookie.usageUrl }}</p>
            <p> {% trans %} OptoutUrl {% endtrans %} : {{ cookie.optoutUrl }}</p>

        </div>
    </header>

{% endblock %}
